.home-container {
  display: flex;
  height: 100vh;
  width: 100%;
  min-width: 0; /* evita problemas de overflow */
}

.home-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6; /* Cinza claro */
  font-size: 2rem;
  font-weight: bold;
  color: #1f2937; /* Cinza escuro */
}
